@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    outline-width: 0%;
    box-sizing: border-box;
    font-family: "DM Sans", san-serif;
}

::selection {
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(255, 255, 255);
}

/* Variables */
:root {
    --color-defaultwhite: white;
}

/* Background Image */
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    top: -250px;
    filter: brightness(0.35);
}

/* HEADER SECTION START */
/* Main Header Container */
.header-maincontainer {
    /* Proportions */
    display: flex;
    padding-left: 36px;
    height: 88px;
    width: 100%;
    
    /* Characteristics */
    position: fixed;
    z-index: 8;

    /* Ingredient Relationships */
    align-items: center;
    justify-content: flex-start;

    /* Interactivity */
    animation: headerBgSolidify linear both;
    animation-timeline: scroll(root block);
    animation-range: 0px 80px;
}


    /* Header scrolling solidification keyframe */
    @keyframes headerBgSolidify {
        from {
            background-color: transparent;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-color: transparent;
            border-style: none;
        }
        to {
            background-color: white;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-style: solid;
            border-color: rgb(138, 138, 138);
        }
    }
    /* Header scrolling content solidification keyframe */
    @keyframes headerContentSolidify {
        from {
            color: white;
        }
        to {
            color: rgba(0, 0, 0, 0.863);
        }
    }

    .header-schlogo-wrapper {
        position: relative;
        width: 215px;
        height: 52px;
    }

    .header-schlogo-black,
    .header-schlogo-white {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 55px;
    }

    .header-schlogo-white {
        animation: logoFadeOut linear both;
        animation-timeline: scroll(root block);
        animation-range: 0px 80px;
    }

    @keyframes logoFadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }

/* Header's subpages container */
.header-subpagecontainer {
    /* Proportions */
    justify-content: right;
    display: flex;
    width: 100%;

    /* Characteristics */

}

/* Header's subpage buttons  */
.header-subpagebuttons {
    /* Characteristics */
    background-color: rgb(10, 10, 10);
    height: 88px;
    padding-left: 40px;
    padding-right: 40px;
    border-right-width: 0px;
    border-left-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: rgb(41, 41, 41);
    border-style: solid;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    transition: color 0.3s ease-in-out;
    align-items: center;
    flex-shrink: 0;

    /* Visuals */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;

    /*  */
}

    .header-subpagebuttons::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease-in-out;
    }

    .header-subpagebuttons:hover::before {
        transform: scaleY(1);
    }

    .header-subpagebuttons:hover {
        color: black;
    }

/* Header subpage news */
.header-subpagenews {
    /* Proportions */
    display: flex;
    background-color: transparent;
    width: 100%;
    margin-left: 25px;
    justify-content: left;
    align-items: center;
}

    #header-subpagenewsdot {
        font-size: 10px;
        color: rgb(139, 43, 43);
        margin-right: 15px;
        margin-left: 10px;
        transition: transform 0.3s ease-in-out;
        animation: headerSubpageNewsDotSolidify linear both;
        animation-timeline: scroll(root block);
    }

    .header-subpagenewstext {
        font-family: "DM Sans", san-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 17px;
        color: white;
        transition: transform 0.3s ease-in-out;
        animation: headerSubpageNewsTextSolidify linear both;
        animation-timeline: scroll(root block);
    }

    @keyframes headerSubpageNewsDotSolidify {
        from {
            color: rgb(255, 50, 50);
        }
        to {
            color: rgb(139, 43, 43);
        }
    }

    @keyframes headerSubpageNewsTextSolidify {
        from {
            color: rgb(255, 255, 255);
        }
        to {
            color: rgb(0, 0, 0);
        }
    }
/* HEADER SECTION COMPLETE */

/* Topsection Div */
.body-topsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 88px;
    align-items: left;
    justify-content: left;
    height: 620px;
    background-color: transparent;
}
    /* Topsection Title */
    #body-topsectiontitle {
        animation: body-topsectionloadup 0.6s ease-out forwards;
        font-family: Georgia, serif;
        font-weight: 400;
        font-size: 84px;
        color: white;
        flex-shrink: 0;
        padding-top: 90px;
    }

    /* Topsection Subtitle */
    #body-topsectionsubtitle {
        animation: body-topsectionloadup 0.75s ease-out forwards;
        font-family: Georgia, serif;
        color: white;
        font-size: 40px;
        flex-shrink: 0;
        font-weight: 400;
    }

    /* Buttons */
    .body-topsectionButtondivBUTTON {
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        height: 70px;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: center;
        border-color: rgb(255, 255, 255);
        position: relative;
        display: flex;
        font-family: 'DM Sans', san-serif;
        color: white;
        font-size: 20px;
        transition: color 0.3s ease-in-out;
        font-weight: 500;
        animation: body-topsectionloadup 0.75s ease-out forwards;
    }

    .body-topsectionButtondivBUTTON::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white !important;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease-in-out;
        gap: 20px;
    }

    .body-topsectionButtondivBUTTON:hover::before {
        transform: scaleY(1);
    }

    .body-topsectionButtondivBUTTON:hover {
        color: rgb(0, 0, 0);
    }

    #learnmore {
        background-color: transparent;
    }

    @keyframes body-topsectionloadup {
        from {
            opacity: 0;
            transform: translateY(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    /* Button division */
    .body-topsectionButtondiv {
        padding-top: 45px;
        display: flex;
        height: 100%;
        width: auto;
        flex-direction: row;
        padding-bottom: 25px;
    }
/* third section div */
.body-thirdsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}
    /* Second section quote */
    #body-thirdsectionquote {
        width: 1000px;
        font-family: "EB Garamond", serif;
        font-weight: 500;
        font-size: 55px;
        text-align: center;
        line-height: 1.2;
    }

    #body-thirdsectionquoteAuthor {
        padding-top: 5px;
        font-family: "EB Garamond", serif;
        font-size: 25px;
        font-weight: 500;
    }

/* Section section */
.body-secondsection {
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    border-top: 1px;
    border-color: gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .body-secondsectionleft {
        height: 100px;
        padding: 25px;
        width: 100%;
        padding-left: 100px;
        padding-top: 50px;
    }
        #body-secondsectionTitle {
            font-family: 'EB Garamond', serif;
            font-weight: 600;
            font-size: 55px;
            text-align: left;
        }

    .body-secondsectionright {
        height: 100px;
        width: 100%;
        padding-right: 100px;
        padding-top: 50px;
        justify-content: flex-end;
        display: flex;
    }
        #body-secondsectionParagraph {
            padding-top: 20px;
        }